@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.text-preset-1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4.125rem;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.9375rem;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.375rem;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0px;
}

.text-preset-5-regular {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0px;
}

.text-preset-5-medium {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3125rem;
  letter-spacing: 0px;
}

.text-preset-6 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(226, 43%, 10%);
  color: hsl(0, 0%, 100%);
  padding-block: 4rem;
}
@media only screen and (width <= 600px) {
  body .container {
    width: 100%;
    max-width: 327px;
  }
}
body .container .info-wrapper {
  width: 100%;
  background: hsl(235, 46%, 20%);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 2rem;
}
body .container .info-wrapper .personal-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: hsl(246, 80%, 60%);
  padding: 2rem;
  border-radius: 0 0 20px 20px;
}
body .container .info-wrapper .personal-info img {
  width: 4rem;
  aspect-ratio: 1;
  object-fit: cover;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
body .container .info-wrapper .personal-info .name p {
  color: hsl(236, 100%, 87%);
  margin-bottom: 0.5rem;
}
body .container .info-wrapper .timeframe {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  padding-block: 1.5rem;
}
body .container .info-wrapper .timeframe .timeframe-button {
  background: none;
  border: none;
  color: hsl(235, 45%, 61%);
}
body .container .info-wrapper .timeframe .timeframe-button.active {
  color: hsl(0, 0%, 100%);
}
body .container main {
  display: grid;
  gap: 2rem;
}
body .container main .stats-container {
  border-radius: 20px;
  position: relative;
}
body .container main .stats-container .stats-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
}
body .container main .stats-container .stats-header img {
  margin-top: -10px !important;
}
body .container main .stats-container .stats-content {
  background: hsl(235, 46%, 20%);
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}
body .container main .stats-container .stats-content .stats-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .container main .stats-container .stats-content .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container main .stats-container .stats-content .stats .previous {
  color: hsl(236, 100%, 87%);
}

.stats.weekly,
.stats.monthly {
  display: none !important;
}

/*# sourceMappingURL=output.css.map */
