// font styles

.text-preset-1{
  font-size: clamp($fs-32, 8vw, $fs-56);
  font-weight: $fw-300;
  line-height: $lh-66;
  letter-spacing: $s-0;
}

.text-preset-2{
  font-size: clamp($fs-24, 3.3vw, $fs-40);
  font-weight: $fw-300;
  line-height: clamp($lh-28, 4vw, $lh-47);
  letter-spacing: $s-0;
}

.text-preset-3{
  font-size: $fs-32;
  font-weight: $fw-300;
  line-height: $lh-38;
  letter-spacing: $s-0;
}

.text-preset-4{
  font-size: $fs-24;
  font-weight: $fw-300;
  line-height: $lh-28;
  letter-spacing: $s-0;
}

.text-preset-5-regular{
  font-size: $fs-18;
  font-weight: $fw-400;
  line-height: $lh-21;
  letter-spacing: $s-0;
}

.text-preset-5-medium{
  font-size: $fs-18;
  font-weight: $fw-500;
  line-height: $lh-21;
  letter-spacing: $s-0;
}

.text-preset-6{
  font-size: $fs-15;
  font-weight: $fw-400;
  line-height: $lh-18;
  letter-spacing: $s-0;
}