// simple reset 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s ease-in-out;
}

// body styles

body {
  font-family: 'Rubik', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: $navy-950;
  color: $white;
  padding-block: $s-800;

 .container{
    width: 100%;
    max-width: 327px;
   @media only screen and (width >= 768px){
    max-width: 612px;
   }

  @media only screen and (width >= 1200px) {
    // width: 100%;
    max-width: 1116px;
    gap: $s-400;
    display: flex;
  }
  .info-wrapper{
    width: 100%;
    background: $navy-900;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: $s-400;

    @media only screen and (width >= 1200px){
      width: 350px;
      margin-bottom: unset;
    }
    .personal-info{
      display: flex;
      align-items: center;
      gap: $s-300;
      background: $purple-600;
      padding: $s-400;
      border-radius: 0 0 20px 20px;

      @media only screen and (width >=1200px) {
         display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 354px;
        }
      
      img{
        width: 4rem;
        aspect-ratio: 1;
        object-fit: cover;
        border: 2px solid $white;
        border-radius: 50%;
      }
      .name{
        p{
          color: $navy-200;
          margin-bottom: $s-100;

          @media only screen and (width >=1200px) {
            margin-top: $s-200;
            margin-bottom: unset;
          }
        }

        h2{

          @media only screen and (width >= 1200px){
            span{
              display: block;
            }
          }
        }
      }
    }
    .timeframe{
      display: flex;
      justify-content: center;
      gap: $s-700;
      padding-block: $s-300;

      @media only screen and (width >=1200px) {
         flex-direction: column;
         gap: $s-200;
         align-items: flex-start;
         justify-content: center;
         padding-left: $s-400;
        }

      
      .timeframe-button{
        background: none;
        border: none;
        color: $purple-500;;
        &.active{
          color: $white;
        }
      }
    }
  }
  main{
    display: grid;
    gap: $s-300;

    @media only screen and (width >= 768px){
      grid-template-columns: repeat(3, 1fr);
      gap: $s-300;
    }

    @media only screen and (width >=1200px) {
      width: 100%;
    }
    .stats-container{
      border-radius: 20px;
      height: 180px;
      position: relative;
      overflow: hidden;

    @media only screen and (width >= 768px) {
        height: 220px
      }

      @media only screen and (width >=1200px) {
        height: 244px;
      }

      .img-container{
        min-width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: $s-300;
        img {

          width: 75px;
          height: auto;
          object-fit: contain;

          @media only screen and (width >=768px) {
              width: 70px;
            }
          &.icon1{
            margin-top: -12px;
          }
          &.icon2 {
            margin-top: -5px;
          }
          &.icon3 {
            margin-top: -5px;
          }
          &.icon5 {
            margin-top: -18px;
          }
          &.icon6 {
            margin-top: -15px;
            width: 65px;
          }
        }
      }
      .stats-content{
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 100%;
        height: 145px;
        background: $navy-900;
        border-radius: 20px 20px 0 0;
        padding: $s-300;

        &:hover, &:focus, &:active {
          background: $navy-800;

        }

        @media only screen and (width >=768px) {
          height: 180px;
        }

        @media only screen and (width >=1200px) {
          height: 205px;
          padding: $s-400;
        }
     
        .stats-title{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: $s-100;
        }
        .stats{
          display: flex;
          justify-content: space-between;
          align-items: center;

          // &.active{
          //   display: block;
          // }

          @media only screen and (width >= 768px){
            flex-direction: column;
            align-items: flex-start;
            gap: $s-200;
          }
          @media only screen and (width >= 1200px){
            margin-top: $s-300;
          }
          .previous{
            color: $navy-200;
          }
        }
      }
    }
  }
 }
}

// .show {
//   display: flex;
// }

// .tabcontent {
//   display: none;
// }